.login {
  background-color: #3b7fba;
  @include background('../images/index/paper.png', bottom);

  &__logo {
    width: 250px;
    margin-top: 20px;
    margin-right: 80px;
  }

  &__heading {
    font-family: 'Lato', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 55px;
    color: white;
  }

  &__border {
    margin: auto;
    margin-top: 20px;
    width: 80px;
    height: 8px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  &__text {
    text-align: center;
    font-family: 'Lato', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  &__forgotPassword {
    text-align: right;
    font: normal normal normal 25px/10px Lato;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  &__form {
    border: 0;
    background-color: #3b7fba;
  }
}

#email {
  background-image: url('../../images/index/icon_account_white.svg');
  background-repeat: no-repeat;
  text-indent: 20px;
  color: white;
}

#password {
  background-image: url('../../images/index/icon_lock_white.svg');
  background-repeat: no-repeat;
  text-indent: 20px;
  color: white;
}

#email::placeholder {
  color: white;
  opacity: 1;
  text-align: left;
  font: normal normal normal 25px/10px Lato;
  letter-spacing: 0px;
  opacity: 1;
}

#password::placeholder {
  color: white;
  opacity: 1;
  text-align: left;
  font: normal normal normal 25px/10px Lato;
  letter-spacing: 0px;
  opacity: 1;
}
