body,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  height: 99vh;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}

.jumbotron2 {
  margin-top: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  height: 60vh;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}

.jumbotron3 {
  margin-top: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  height: 50vh;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}
